html {
    font-family: Arial;
}

h1 {
    margin-bottom: 45px;
}

div.info {
    float: left;
}

div.buildings {
    clear: both;
}

table, h3 {
    border-collapse: collapse;
    margin: 10px 20px 10px 20px;
    position: relative;
}

table#population_data td {
    height: 30px;
}

table#score_data {
    position: relative;
    top: 30px;
    font-weight: bold;
}

td {
    border-bottom: 1px solid #ccc;
}

td:first-child {
    width: 100px;
}

.count {
    width: 40px;
    text-align: right;
}

.control {
    height: 30px;
    width: 180px;
    margin: 0px;
    text-align: center;
    background-color: orange;
}

#buttons {
    position: relative;
}

p.message {
    clear: both;
    margin-left: 20px;
    color: red;
}